<div class="jumbotron">
  <h2>activityOverlord</h2>
  <p>... Aplicacion de traza de actividades, desde NSA 1899.</p>
  <p><a class="btn btn-success btn-lg" href="/user/new" role="button">Sign up now!</a></p>
</div>
